.container {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
